{{define "yield"}}
<div class="row">
  <div class="col-md-12">
    <h1>{{.Title}}</h1>
  </div>
</div>

<div class="row">
  {{range .ImageSplitN 6}}
  <div class="col-md-2 mb-3">
    {{range .}}
    <a href="{{.Path}}">
      <img src="{{.Path}}" class="img-thumbnail w-100" alt="gallery image">
    </a>
    {{end}}
  </div>
  {{end}}
</div>
{{end}}
